/* Styles généraux pour le corps de la page */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: #f0f0f0;
	background-color: #121212;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	overflow-x: hidden;
	animation: fadeIn 1.5s ease-in-out;
}

/* Styles pour le header */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #1f1f1f;
	padding: 15px 0;
	box-sizing: border-box;
}

header .logo {
	width: 150px;
	margin-bottom: 10px;
	animation: slideInFromTop 1s ease-out;
}

header h1 {
	text-align: center;
	color: #e0e0e0;
	margin: 0;
}

/* Styles ajustés pour nav */
nav {
	background-color: #282828;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	box-sizing: border-box;
}

nav a {
	text-decoration: none;
	color: #c09f51;
	margin: 0 15px;
	padding: 10px 0;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

nav a:hover {
	background-color: #c09f51;
	color: #121212;
	transform: scale(1.1);
}

/* Configuration du main content */
.main-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	align-items: stretch;
	width: 100%;
	box-sizing: border-box;
}

/* Styles pour les sections de contenu */
.content-section {
	background-color: #1f1f1f;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	animation: fadeIn 2s ease-in-out;
	text-align: center;
}

.section-content {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.text-content {
	flex: 1;
}

ul {
	list-style-type: disc;
	padding-left: 20px;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Ajout de la classe pour les icônes des listes */
ul.dynamic-list li::before {
	content: '✔'; /* Vous pouvez changer cette icône par une autre de votre choix */
	color: #c09f51;
	margin-right: 10px;
	font-size: 1.2em;
	display: inline-block;
}

/* Animation pour les éléments de liste */
ul.dynamic-list li {
	animation: listFadeIn 0.5s ease-in-out;
	transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
	text-align: justify; /* Justification du texte */
}

/* Animation de fondu en entrée pour les éléments de liste */
@keyframes listFadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Styles pour la liste des tags */
.tags-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0;
	list-style: none;
	justify-content: center; /* Centrer les tags */
	width: 100%;
	text-align: justify; /* Justification du texte */
}

.tags-list li {
	background-color: #c09f51;
	color: #121212;
	padding: 5px 10px;
	border-radius: 15px;
	font-size: 0.9em;
	display: inline-block;
	flex: 1 1 auto; /* Ajuste pour rendre les tags plus petits */
	box-sizing: border-box;
	transition: background-color 0.3s, color 0.3s;
	text-align: justify; /* Justification du texte */
	max-width: 150px; /* Limite la taille des tags pour les aligner */
	white-space: nowrap; /* Empêche le retour à la ligne des tags */
	overflow: hidden; /* Masque le texte qui dépasse */
	text-overflow: ellipsis; /* Ajoute des points de suspension pour le texte qui dépasse */
}

.tags-list li:hover {
	background-color: #a08040;
	color: #ffffff;
}

.tags-list li::before {
	content: none; /* Supprimer les icônes de liste par défaut */
}

/* Nouvelle section optimisée */
.optimized-section .section-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.optimized-section .second-section-list {
	display: flex;
	flex-direction: column; /* Ensure items are arranged vertically */
	justify-content: center; /* Center the elements */
	gap: 10px;
	width: 100%;
}

.optimized-section .second-section-list li {
	background-color: #c09f51;
	color: #121212;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 0.8em;
	box-sizing: border-box;
	transition: background-color 0.3s, color 0.3s;
	list-style: none;
	font-weight: bold; /* Contenu en gras */
	overflow: hidden; /* Masque le texte qui dépasse */
	text-overflow: ellipsis; /* Ajoute des points de suspension pour le texte qui dépasse */
	display: inline-block;
	max-width: 150px; /* Limite la taille des éléments de la liste */
}

.optimized-section .second-section-list li:hover {
	background-color: #a08040;
	color: #ffffff;
}

.optimized-section .second-section-list li::before {
	content: none;
}

.optimized-section .image-grid {
	display: flex;
	justify-content: center; /* Centrer les images */
	flex-wrap: wrap;
	gap: 20px;
	width: 100%; /* Ajustement de la largeur */
}

.optimized-section .image-small {
	max-width: 200px; /* Ajustement de la largeur pour que les images soient plus grandes */
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Adaptation pour les écrans mobiles */
@media (max-width: 800px) {
	.tags-list {
		justify-content: center; /* Centre les tags sur les petits écrans */
	}

	.tags-list li {
		flex: 1 1 calc(50% - 10px); /* Ajuste pour 2 tags par ligne sur petits écrans */
	}
}

li {
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Centrer les images */
	align-items: center;
	gap: 20px;
	width: 100%; /* Ajustement de la largeur */
}

.image-small {
	max-width: 200px; /* Ajustement de la largeur pour que les images soient plus grandes */
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f0f0f0;
	padding: 25px 20px;
	background-color: #1f1f1f;
	width: 100%;
	border-top: 2px solid #c09f51;
	gap: 15px;
	box-sizing: border-box;
}

footer p {
	margin: 0;
	text-align: center;
	width: 100%;
	line-height: 1.4;
}

/* Adaptation pour les écrans mobiles */
@media (max-width: 800px) {
	.main-content {
		flex-direction: column;
		gap: 15px;
		align-items: center;
		width: 100%;
		overflow-x: hidden;
	}

	.content-section {
		width: 100%;
	}

	ul {
		width: 100%;
		padding-left: 0;
		margin: 0 auto;
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	li {
		width: auto;
		display: flex;
		justify-content: flex-start;
		text-align: left;
	}

	.image-grid {
		flex-direction: column;
		width: 100%;
	}

	.image-small {
		max-width: 100%;
	}

	.section-content {
		flex-direction: column;
		align-items: center;
	}
}

/* Styles pour les éléments de la liste de la seconde section */
.second-section-list {
	display: flex;
	flex-direction: column; /* Ensure items are arranged vertically */
	gap: 10px;
	padding: 0;
	list-style: none;
	justify-content: flex-start; /* Aligne les éléments à gauche */
	width: 100%;
}

.second-section-list li {
	background-color: #c09f51;
	color: #121212;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 0.8em;
	display: inline-block;
	flex: 0 0 auto; /* Ajuste pour rendre les éléments non flexibles */
	box-sizing: border-box;
	transition: background-color 0.3s, color 0.3s;
	font-weight: bold; /* Contenu en gras */
	white-space: nowrap; /* Empêche le retour à la ligne */
	overflow: hidden; /* Masque le texte qui dépasse */
	text-overflow: ellipsis; /* Ajoute des points de suspension pour le texte qui dépasse */
}

.second-section-list li:hover {
	background-color: #a08040;
	color: #ffffff;
}

.second-section-list li::before {
	content: none;
}

/* Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideInFromTop {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

.fade-in {
	animation: fadeIn 2s ease-in-out;
}
