/* Styles généraux pour le corps de la page */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #13131b;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/* Styles pour le header */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #202020;
	padding: 10px 0;
}

header .logo {
	width: 150px;
	margin-bottom: 10px;
}

header h1 {
	text-align: center;
	color: white;
	margin: 0;
}

/* Styles ajustés pour nav */
nav {
	background-color: #333333;
	text-align: center;
	padding: 10px 0;
}

nav a {
	text-decoration: none;
	color: #c09f51;
	margin: 0 15px;
	padding: 10px 0;
}

nav a:hover {
	background-color: #c09f51;
	color: #13131b;
}

/* Configuration du main content pour aligner section et aside */
.main-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: 15px;
	padding: 15px;
	align-items: center;
}

/* Assurez-vous que cette classe a la même couleur que la section */
aside {
	background-color: #202020;
	padding: 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

/* Assurer que la section et l'aside aient la même largeur */
.content-section {
	background-color: #202020;
	padding: 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo-qualiopi {
	width: 500px;
	height: auto;
}

.logo-utile {
	width: 150px;
	height: auto;
}

/* Aside with the map on the right and text to the left */
.content-aside {
	display: flex;
	justify-content: space-between;
	align-items: flex-start; /* Align content at the top */
	background-color: #202020;
	padding: 15px;
	border-radius: 5px;
	gap: 15px;
}

/* The textual information to the left */
.content-aside .info {
	flex: 1; /* Take up remaining space */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #202020;
}

/* The map image to the right */
.content-aside .map {
	width: 50%; /* Set a relative width for the map */
	max-width: 400px; /* Maximum width */
	height: auto;
	margin: 0; /* Align with the other content */
}

aside .map-iframe {
	width: 100%;
	max-width: 100%;
	height: auto;
	border: 0;
}

/* Partner logos */
.partner-logo {
	width: 150px;
	height: 150px;
	object-fit: contain;
	border-radius: 5px;
	background-color: #202020;
}

/* Styles pour la grille des partenaires */
.carousel-inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
	gap: 15px; /* Espacement entre les items */
	align-items: center;
	justify-items: center;
}

.carousel-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Aligner les logos utiles et les rendre de la même taille */
.useful-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px; /* Espacement entre les logos */
	flex-wrap: wrap; /* Pour s'adapter aux petits écrans */
}

.logo-utile {
	width: 120px; /* Largeur identique pour chaque logo */
	height: 120px; /* Hauteur identique pour chaque logo */
	object-fit: contain; /* Pour maintenir les proportions originales */
	border-radius: 5px;
	background-color: #202020;
	padding: 10px;
}

/* Styles spécifiques pour le footer */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	text-align: center;
	padding: 10px 20px;
	background-color: #202020;
}

footer p {
	flex-grow: 1;
	margin: 0;
	text-align: center;
}

footer .logo {
	width: 150px;
	height: 150px;
	height: auto;
}

/* Adaptation pour les écrans mobiles */
@media (max-width: 800px) {
	.main-content {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 10px;
		align-items: start;
	}

	.content-aside {
		flex-direction: column;
	}

	.content-aside .map {
		width: 100%; /* Make the map full width on smaller screens */
	}
}

/* Adaptation pour les écrans plus grands */
@media (min-width: 801px) {
	.main-content {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 15px;
		align-items: center;
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
	}
}
