/* Styles généraux pour le corps de la page */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #13131b;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	overflow-x: hidden; /* Désactive le défilement horizontal */
}

/* Styles pour le header, incluant le logo et la navigation */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #202020;
	padding: 10px 0;
}

header .logo {
	width: 150px;
	margin-bottom: 10px;
}

header h1 {
	text-align: center;
	color: white;
	margin: 0;
}

/* Styles ajustés pour nav maintenant qu'il est en dehors de header */
nav {
	background-color: #333333; /* Couleur de fond pour la barre de navigation */
	text-align: center;
	padding: 10px 0;
}

nav a {
	text-decoration: none;
	color: #c09f51;
	margin: 0 15px;
	padding: 10px 0; /* Espacement vertical pour les liens */
}

nav a:hover {
	background-color: #c09f51;
	color: #13131b;
}

/* Section principale */
section {
	display: flex;
	flex-direction: row; /* Alignement horizontal */
	flex-wrap: wrap; /* Permet aux fiches de passer à la ligne */
	justify-content: center; /* Centre les fiches */
	align-items: flex-start; /* Alignement en haut pour chaque ligne */
	padding: 20px;
}

section h2 {
	width: 100%; /* Permet au H2 de prendre toute la largeur */
	color: #fff;
	text-align: center;
}

/* Styles pour les fiches */
.fiche {
	display: flex;
	align-items: center;
	background-color: #252525;
	color: #ffffff;
	width: calc(33.333% - 15px); /* Trois par ligne, espace compris */
	margin: 7px;
	padding: 15px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	height: 100px; /* Hauteur réduite pour ajuster la taille globale */
}

.fiche:hover {
	transform: scale(1.05);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ecusson {
	width: 70px;
	height: auto;
	margin-right: 15px;
}

.fiche-content {
	text-align: left;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Couleurs personnalisées pour chaque article */
article.ssiap {
	color: red;
}

article.elec {
	color: yellow;
}

article.sst {
	color: #34c924;
}

article.aps {
	color: #77b5fe;
}

article.garde {
	color: #c8ad7f;
}

article.pack {
	color: #ff8300;
}

article.asvp {
	color: #9370db;
}

article.ssi {
	color: #cc4834;
}

article.epi {
	color: #cc4834;
}

article.plomberie {
	color: #0080ff;
}

/* footer */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 20px 15px; /* Réduit l'espace autour du footer */
	background-color: #202020;
	width: 100%; /* Utilise toute la largeur disponible */
	max-width: 100%; /* Limite maximale de la largeur */
	border-top: 2px solid #c09f51; /* Bordure dorée */
	gap: 10px; /* Réduit l'espacement entre les éléments */
}

/* Centrer et justifier les paragraphes dans le footer */
footer p {
	margin: 0;
	text-align: center; /* Centre le texte dans chaque paragraphe */
	width: 100%;
	max-width: 100%; /* Utilise toute la largeur disponible */
	line-height: 1.3; /* Réduit la hauteur de ligne pour les paragraphes */
}
