/* Styles généraux pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #13131b;
  margin: 0;
  padding: 0;
}

/* Styles pour le header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  padding: 10px 0;
}

header .logo {
  width: 80px;
  margin-bottom: 10px;
}

header h1 {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

/* Styles pour la navigation */
nav {
  background-color: #333333;
  text-align: center;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #c09f51;
  margin: 0 15px;
  padding: 10px 0;
}

nav a:hover, nav a.active {
  background-color: #c09f51;
  color: #13131b;
}

/* Section principale */
section {
  display: flex;
  flex-direction: row; /* Alignement horizontal */
  flex-wrap: wrap; /* Permet aux fiches de passer à la ligne */
  justify-content: center; /* Centre les fiches */
  align-items: flex-start; /* Alignement en haut pour chaque ligne */
  padding: 20px;
}

section h2 {
  width: 100%; /* Permet au H2 de prendre toute la largeur */
  color: #fff;
  text-align: center;
}

/* Styles pour les fiches */
.fiche {
  display: flex;
  align-items: center;
  background-color: #252525;
  color: #ffffff;
  width: calc(33.333% - 20px); /* Trois par ligne, espace compris */
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fiche:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.ecusson {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.fiche-content {
  text-align: left;
  flex-grow: 1;
}

/* Footer */
footer {
  background-color: #202020;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
